footer.footer
    .container.footer__container
        .footer__col
            .logo.logo--small
                a(href='#')
                    +icon('logo-itz', 'logo__icon logo__icon--itz')
                .logo__delimiter
                a(href='#')
                    +icon('logo-cnews', 'logo__icon logo__icon--cnews')
            .footer__about Компания ИТЗ (Информационные технологии завтра) по соглашению <br> с ООО «Синьюс» проводит конференции под брендом CNews.
            .footer__socials
                span поделиться
                .socials
                    a.socials__item(href='#')
                        +icon('logo-cnews')
                    a.socials__item(href='#')
                        +icon('logo-cnews')
                    a.socials__item(href='#')
                        +icon('logo-cnews')
                    a.socials__item(href='#')
                        +icon('logo-cnews')
            .footer__copyright Все права защищены © 1995 - 2022 CNews
        .footer__col
            ul.footer__menu
                li
                    a(href='#') О компании
                li
                    a(href='#') Ближайшие мероприятия
                li
                    a(href='#') Архив мероприятий
                li
                    a(href='#') Спонсорство
                li
                    a(href='#') Заказать мероприятия
                li
                    a(href='#') Контакты
        .footer__col
            .footer__contacts
                p Контакты
                p По дополнительным вопросам просим обращаться:
                p <b>+7 (495) 500-00-36</b> <br> доб. 9400, 9401, 9402, 9403, 9404
                p Айвазов Армен, Четвернин Алексей, Февралева Ольга, Теличева Наталья, Анна Герасименко
                a(href='mailto:events@cnews.ru') events@cnews.ru
