header.header
    .container
        .logo
            a(href='#')
                +icon('logo-itz', 'logo__icon logo__icon--itz')
            .logo__delimiter
            a(href='#')
                +icon('logo-cnews', 'logo__icon logo__icon--cnews')
        .header__menu.menu
            ul.menu__list
                li
                    a(href='#', target='_blank') Мероприятия
                li
                    a(href='#', target='_blank') Архив
                li
                    a(href='#', target='_blank') Материалы
                li
                    a(href='#', target='_blank') О компании
            +button('Заказать мероприятие', 'button--red button--angle-hover menu__link')