header.header
    .container
        include logo.pug
        .header__menu.menu
            ul.menu__list
                li
                    a(href="#", target="_blank") Мероприятия
                li
                    a(href="#", target="_blank") Архив
                li
                    a(href="#", target="_blank") Материалы
                li
                    a(href="#", target="_blank") О компании
            +button("Заказать мероприятие", "menu__link")