.articles-card {
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: rgba($white, 0.9);

	&__title {
		min-height: 144px;
		padding: 28px 22px;
		color: $green-0c;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.3;
	}

	&__image {
		position: relative;
		height: 0;
		padding-top: 55%;

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__bottom {
		padding: 33px 22px 20px;
	}

	&__text {
		color: $green-18;
		font-size: 14px;
		line-height: 1.43;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&__link-text {
		color: $green-18;
		font-weight: 700;
		font-size: 12px;
		line-height: 1.2;
		text-decoration: underline;
		margin-top: 33px;
	}
}