.article {
    padding: 60px 0 0;

    &__title {
        margin-top: 20px;
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
    }

    &__date,
    &__place {
        font-size: 14px;
    }

    &__date {
        font-style: italic;
    }

    &__place {
        font-size: 16px;
    }

    &__nav {
        margin-top: 60px;
    }

    &__bg {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 30%;
        margin-top: 30px;
        overflow: hidden;

        @include max(tl) {
			padding-top: 50%;
		}

        @include max(ti) {
			padding-top: 60%;
		}

        @include max(t) {
			padding-top: 85%;
		}

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__bg-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 15px;

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(0, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__description {
        position: relative;
        font-size: 22px;
        line-height: 1.2;

        @include max(ti) {
			font-size: 20px;
		}

        @include max(t) {
			font-size: 18px;
		}
    }

    &__main {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        background-color: $green-18;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    &__text {
        p {
            margin-bottom: 20px;

            @include max(ti) {
                margin-bottom: 10px;
            }
        }

        .book-link {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__sidebar {
        min-width: 300px;
        max-width: 300px;
    }
}