.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    background-color: $red;
    font-family: $latoFont;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        display: block;
        width: 20px;
        height: 20px;
        background-color: inherit;
        transition: 0.3s ease;
    }

    &:hover::after {
        transform: translate(-20px, 20px);
    }
}
