.events {
	$parent: &;

	position: relative;

	&::before {
        @include blob();

        content: "";
        bottom: 15vw;
		left: 56vw;
		width: 30.5vw;
		height: 30.5vw;
    }

	&__container {
		max-width: 1040px;
		position: relative;
	}

	&__grid-wrapper {
		position: relative;
		margin-top: 30px;

		&--no-margin {
			margin: 0;
		}
	}

	&__waves {
		@include waves-pattern('0c4552');

		position: absolute;
		bottom: 33px;
		right: calc(100% - 60px);
		z-index: -1;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}

	&__item {
		grid-column: span 2;

		@include max(tl) {
			grid-column: span 3;
		}

		@include max(t) {
			grid-column: span 6;
		}

		/* Ширина элементов в каждой четной строке грида */
		&:nth-child(5n),
		&:nth-child(5n - 1) {
			grid-column: span 3;

			@include max(t) {
				grid-column: span 6;
			}

			.events-card__image {
				padding-top: 40.5%;

				@include max(tl) {
					padding-top: 63%;
				}
			}
		}

		/* Полосы и квадраты в бэкграунде */
		&:nth-child(1),
		&:nth-child(8) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				width: 100vw;
				height: 100%;
				background-color: $green-0c;
			}

			&::after {
				content: "";
				position: absolute;
				width: 40px;
				height: 40px;
				background-color: $red;
			}
		}

		&:nth-child(1) {
			&::before {
				right: 100%;
			}

			&::after {
				top: 0;
				right: 100%;
			}
		}

		&:nth-child(8) {
			&::before {
				left: 100%;
			}

			&::after {
				bottom: 0;
				left: 100%;
			}
		}
	}

	&__more {
		max-width: 328px;
		width: 100%;
		margin-top: 30px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	&--archive {
		padding-top: 100px;

		&::before {
			top: 2vw;
			right: -2vw;
			bottom: unset;
			left: unset;
			width: 60vw;
			height: 60vw;
		}

		#{$parent} {
			&__container {
				padding-bottom: 45px;
			}

			&__waves {
				top: 75px;
				bottom: unset;
				right: calc(100% - 30px);
			}

			&__bg-nodes {
				position: absolute;
				bottom: 0;
				left: calc(100% - 20px);
				width: calc((100vw - 1040px / 2) / 2);
				height: 438px;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 40px;
					height: 40px;
					background-color: $red;
				}
			}

			&__grid-wrapper {
				margin-top: 38px;
			}

			&__grid {
				grid-template-columns: repeat(3, 1fr);
				gap: 8px;

				@include max(tl) {
					grid-template-columns: repeat(2, 1fr);
					gap: 20px;
				}
		
				@include max(t) {
					grid-template-columns: repeat(1, 1fr);
				}
			}
	
			&__item {
				grid-column: span 1;
		
				/* Ширина элементов в каждой четной строке грида */
				&:nth-child(5n),
				&:nth-child(5n - 1) {
					grid-column: span 1;
		
					.events-card__image {
						padding-top: 63%;
					}
				}
		
				/* Полосы и квадраты в бэкграунде */
				&:nth-child(1),
				&:nth-child(8) {
					&::before {
						display: none;
					}
		
					&::after {
						display: none;
					}
				}
			}

			&__title-next {
				margin-top: 88px;
			}
		}
	}
}