.field {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 475px;
    width: 100%;

    &.required {
        span {
            position: relative;
            padding-left: 28px;

           &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background-color: $red;
           } 
        }
    }

    span {
        color: $black;
        font-family: $latoFont;
        font-weight: 700;
        font-size: 13px;
        line-height: 1.38;
    }

    input,
    textarea {
        width: 100%;
        background-color: $white;
        border: 1px solid transparent;
        padding: 17px 15px;
        margin-top: 8px;
        font-size: 16px;
        transition: border-color 0.3s ease;

        &:hover,
        &:focus {
            border-color: $black;
        }
    }

    textarea {
        height: 200px;
        appearance: none;
        resize: none;
    }

    select {
        appearance: none;
    }

    &--checkbox {
        flex-direction: row;
        align-items: center;
        gap: 10px;

        &:hover + b {
            border-color: $black;
        }

        input {
            display: none;

            &:checked + b {
                background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.6097 5.20743C21.0475 5.54416 21.1294 6.17201 20.7926 6.60976L10.7926 19.6098C10.6172 19.8378 10.352 19.9793 10.0648 19.9979C9.77765 20.0166 9.49637 19.9106 9.29289 19.7072L4.29289 14.7072C3.90237 14.3166 3.90237 13.6835 4.29289 13.2929C4.68342 12.9024 5.31658 12.9024 5.70711 13.2929L9.90178 17.4876L19.2074 5.39034C19.5441 4.95258 20.172 4.87069 20.6097 5.20743Z" fill="%23000000"></path></svg>');
            }
        }

        b {
            position: relative;
            min-width: 30px;
            max-width: 30px;
            height: 30px;
            background-color: $white;
            border: 1px solid transparent;
            transition: border-color 0.3s ease;

            &::before {
                position: absolute;
                top: -10px;
                left: -6px;
                content: "";
                display: block;
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
            }
        }

        span {
            font-size: 18px;
            line-height: 1.2;

            a {
                color: $white;
                text-decoration: underline;
                transition: 0.3s ease;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
