.footer {
    $parent: &;

    padding: 60px 0 60px;
    background-color: $green-0c;

    &__container {
        display: grid;
        grid-template-columns: 1fr 370px 1fr;
        justify-content: space-between;
        gap: 20px;
        max-width: 1040px;
    }

    &__about {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        color: $gray-df;
        margin-top: 21px;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 38px;

        & > span {
            font-size: 16px;
            line-height: 1.3;
            text-transform: uppercase;
        }
    }

    &__copyright {
        color: $gray-b3;
        font-size: 12px;
        line-height: 1.33;
        margin-top: 30px;
    }

    &__menu {
        max-width: 205px;
        margin: 0 auto;

        li {
            & + li {
                margin-top: 27px;
            }

            a {
                font-size: 16px;
                line-height: 1.3;
                text-decoration: underline;
                transition: color 0.3s ease;

                &:hover {
                    color: rgba($white, 0.8);
                }
            }
        }
    }

    &__contacts {
        font-size: 16px;
        line-height: 1.3;

        & > * + * {
            margin-top: 16px;
        }

        p {
            &:first-child {
                text-transform: uppercase;
            }
        }

        a {
            display: inline-block;
            color: $green-light;
            transition: color 0.3s ease;

            &:hover {
                color: rgba($green-light, 0.8);
            }
        }
    }
}
