.footer {
    $parent: &;

    padding: 60px 0 60px;
    background-color: $green-0c;

    &__container {
        max-width: 1040px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 370px 1fr;
        justify-content: space-between;
        gap: 20px;

        @include max(tl) {
			grid-template-columns: repeat(2, 1fr);
            gap: 50px 20px;
		}

        @include max(ti) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__col {
        @include max(ti) {
            grid-column: span 2;                
        }

        &:nth-child(3) {
            @include max(tl) {
                grid-column: span 2;
            }
        }
    }

    &__about {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        color: $gray-df;
        margin-top: 21px;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 38px;

        & > span {
            font-size: 16px;
            line-height: 1.3;
            text-transform: uppercase;
        }
    }

    &__copyright {
        color: $gray-b3;
        font-size: 12px;
        line-height: 1.33;
        margin-top: 30px;
    }

    &__menu {
        max-width: 205px;
        margin: 0 auto;

        @include max(ti) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 20px;
            max-width: 100%;
            margin: 0;
        }

        li {
            & + li {
                margin-top: 27px;

                @include max(ti) {
                    margin-top: 0;
                }
            }

            a {
                font-size: 16px;
                line-height: 1.3;
                transition: color 0.3s ease;

                &:hover {
                    color: rgba($white, 0.8);
                }
            }
        }
    }

    &__contacts {
        font-size: 16px;
        line-height: 1.3;

        & > * + * {
            margin-top: 16px;
        }

        p {
            &:first-child {
                text-transform: uppercase;
            }
        }

        a {
            display: inline-block;
            color: $green-light;
            transition: color 0.3s ease;

            &:hover {
                color: rgba($green-light, 0.8);
            }
        }
    }
}
