.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    &__submit {
        max-width: 224px;
        width: 100%;
        justify-content: center;
        align-self: flex-end;
        margin-top: 30px;

        @include max(tl) {
            align-self: flex-start;
        }
    }

    &__field:last-of-type {
        &::after {
            content: "";
            position: absolute;
            bottom: -40px;
            right: 100%;
            width: 40px;
            height: 40px;
            background-color: $red;

            @include max(tl) {
                display: none;
            }
        }
    }
}