.form-registration {
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        gap: 30px 20px;
        margin-top: 20px;

        @include max(ti) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
    }

    &__field {
        max-width: 100%;

        &.field--checkbox {
            margin-top: 30px;

            @include max(ti) {
                margin-top: 20px;
            }
        }

        span {
            color: $white;
        }
    }

    &__captcha {
        margin-top: 30px;

        @include max(ti) {
            margin-top: 20px;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;

        @include max(ti) {
            margin-top: 20px;
        }
    }
}