.header {
	$parent: &;

	position: relative;
	z-index: 10;
	width: 100%;
	padding-top: 127px;

	@include max(tl) {
		padding-top: 30px;
	}

	&--opened {
		#{$parent} {
			&__menu {
				transform: translateX(0);
			}

			&__burger span {
				&:first-child {
					opacity: 0;
				}

				&:last-child {
					&::before {
						transform: translateY(12px) rotate(45deg);
					}
	
					&::after {
						transform: translateY(-12px) rotate(-45deg);
					}
				}
			}
		}
	}

	& + * {
		padding-top: 90px;

		@include max(ti) {
			padding-top: 40px;
		}
	}

	&__container {
		@include max(ti) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__menu {
		margin-top: 60px;

		@include max(tl) {
			margin-top: 30px;
		}

		@include max(ti) {
			position: fixed;
			inset: 0;
			z-index: 20;
			margin-top: 0;
			transform: translateX(100%);
			transition: transform 0.3s ease;
		}
	}

	&__burger {
		position: relative;
		z-index: 21;
		display: none;
		width: 40px;
		height: 40px;
		margin-right: 12%;

		@include max(ti) {
			display: block;
		}

		span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			transition: 0.5s ease;

			&:first-child {
				background-color: $white;
			}

			&:last-child {
				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 0;
					display: block;
					width: 100%;
					height: 2px;
					background-color: $white;
					transition: 0.5s ease-in-out;
				}

				&::before {
					top: -12px;
				}

				&::after {
					bottom: -12px;
				}
			}
		}
	}
}
