.hero {
    position: relative;
    padding-bottom: 40px;

    &::before {
        @include blob();

        content: "";
        top: -2vw;
        left: 24vw;
        width: 18.7vw;
        height: 18.7vw;
    }

    &::after {
        @include blob();

        content: "";
        bottom: -10vw;
        left: 45vw;
        width: 30.5vw;
        height: 30.5vw;
    }

    &__container {
        max-width: 860px;
        margin-bottom: 97px;
        position: relative;
    }

    &__waves {
        @include waves-pattern('ed344a');

        position: absolute;
        top: 80px;
        left: calc(100% - 20px);
    }

    &__pagination {
        margin-top: 29px;
    }
}