.hero {
    padding-top: 90px;
    padding-bottom: 40px;

    &__container {
        max-width: 820px;
        margin-bottom: 97px;
        position: relative;
    }

    &__waves {
        @include waves-pattern('ed344a');

        position: absolute;
        top: 80px;
        left: calc(100% - 20px);
    }

    &__pagination {
        margin-top: 29px;
    }
}