.news-card {
    $parent: &;

    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 7px solid $white;
    padding: 0 24px;

    &::before {
        position: absolute;
        top: 0;
        left: -7px;
        content: "";
        width: 0;
        height: 100%;
        background-color: $green-0c;
        transition: 0.3s ease;
    }

    &:hover {
        &::before {
            width: 7px;
        }

        #{$parent}__title span {
            background-size: 100% 1px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 1.32;

        span {
			background: no-repeat 0 100%;
			background-image: linear-gradient(currentColor, currentColor);
			background-size: 0 1px;
			transition: background-size 0.6s ease;
		}
    }

    &__text {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        margin-top: 10px;
        margin-bottom: 28px;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__date {
        color: $gray-8f;
        font-size: 16px;
        line-height: 1.25;
        margin-top: auto;
    }
}