.partners-row {
	&__type {
		font-size: 18px;
	}

	&__logos {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-top: 10px;
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		border-radius: 12px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		background-color: $white;
		height: 90px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}