.socials {
    display: flex;
    gap: 18px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        padding: 2px;
        border-radius: 3px;
        background-color: $green-18;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba($green-18, 0.8);
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}