.speakers {
	position: relative;
	padding: 60px 0;

	&__bg {
		position: absolute;
		inset: 0;

		&::after {
			position: absolute;
			inset: 0;
			content: "";
			display: block;
			background-color: rgba(0, 0, 0, 0.5);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__container {
		position: relative;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 100px 20px;
		margin-top: 100px;

		@include max(tl) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include max(ti) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include max(t) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}