.title {
    font-family: $tekturFont;
    font-weight: 500;
    font-size: 37px;
    line-height: 1;
    text-transform: uppercase;

    span {
        color: $green-light;
        padding-left: 47px;
    }
}