.top-part {
    position: relative;

    &__bg-nodes {
        position: absolute;
        top: 0;
        right: 0;
        width: 38%;
        height: 100%;

        @include max(ti) {
            width: 12%;
        }
    }
}