.top-event {
    display: flex;
    background: rgba(12, 69, 82, 0.59);
    border: 6px solid $green-18;
    backdrop-filter: blur(5px);

    &__image {
        max-width: 403px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 49px 10px 57px 49px;
    }

    &__type {
        font-size: 11px;
        line-height: 1.36;
    }

    &__date {
        font-size: 25px;
        line-height: 1.25;
        margin-top: 3px;
    }

    &__title {
        font-family: $tekturFont;
        font-size: 30px;
        line-height: 1.1;
        margin-top: 30px;

        span {
            color: $green-light;
        }
    }

    &__link {
        color: $green-light;
        font-family: $latoFont;
        font-size: 15px;
        line-height: 1.2;
        margin-top: 38px;
        text-decoration: underline;
    }
}