.top-event {
    $parent: &;

    position: relative;
    display: flex;
    background: rgba(12, 69, 82, 0.59);
    border: 6px solid $green-18;
    backdrop-filter: blur(5px);

    @include max(ti) {
        flex-direction: column;
    }

    &__image {
        max-width: 403px;
        min-width: 50%;
        width: 100%;
        overflow: hidden;

        @include max(ti) {
            max-width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
        }
    }

    &__content {
        padding: 49px 10px 57px 49px;

        @include max(t) {
            padding: 30px 20px 40px;
        }
    }

    &__type {
        font-size: 11px;
        line-height: 1.36;
    }

    &__date {
        font-size: 25px;
        line-height: 1.25;
        margin-top: 3px;
    }

    &__title {
        font-family: $tekturFont;
        font-size: 30px;
        line-height: 1.1;
        margin-top: 30px;

        @include max(d) {
            font-size: fluid(26, 30, 768, 1279);
        }

        @include max(ti) {
            font-size: fluid(24, 26, 360, 767);
        }

        span {
            background: no-repeat 0 100%;
			background-image: linear-gradient(currentColor, currentColor);
			background-size: 0 2px;
			transition: background-size 0.6s ease;

            & > span {
                color: $green-light;
            }
        }
    }

    &__link {
		position: absolute;
		inset: 0;
		z-index: 1;

        &:hover {
			& + #{$parent}__image {
                img {
                    transform: scale(1.05);
                }

                & + #{$parent}__content #{$parent}__title > span {
                    background-size: 100% 2px;
                }
			}
		}
	}

    &__link-text {
        color: $green-light;
        font-family: $latoFont;
        font-size: 15px;
        line-height: 1.2;
        margin-top: 38px;
        text-decoration: underline;
    }
}