/* Libs */
@import "./../../node_modules/swiper/swiper";

/* Base */
@import "base/var";
@import "base/mixin";
@import "base/fonts";
@import "base/animation";
@import "base/global";

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/footer";
