/* Libs */
@import "./../../node_modules/swiper/swiper";

/* Base */
@import "base/var";
@import "base/mixin";
@import "base/fonts";
@import "base/animation";
@import "base/global";

/* Blocks */
@import "blocks/button";
@import "blocks/container";
@import "blocks/logo";
@import "blocks/bg-nodes";
@import "blocks/menu";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/hero";
@import "blocks/top-part";
@import "blocks/top-event";
@import "blocks/title";
@import "blocks/events-card";
@import "blocks/events";
@import "blocks/main-event";
@import "blocks/articles-card";
@import "blocks/articles";
