@keyframes link-hover-line {
    0% {
        width: 0;
        height: 2px;
    }

    40% {
        width: 100%;
    }

    60% {
        height: 2px;
    }

    100% {
        width: 100%;
        height: 7px;
    }
}