*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: $mainFont;
	background-color: $green-bg;
	color: $white;

	/* iOS fix */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
}

.main {
	overflow: hidden;
	position: relative;
	z-index: 1;

	&--no-overflow {
		overflow: unset;

		& > section {
			overflow: hidden;
		}
	}
}

a {
	color: $white;
	text-decoration: none;
}

svg {
	width: auto;
	height: auto;
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	-webkit-appearance: none;
}

input,
button,
select,
textarea {
	font: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

input,
textarea {
	padding: 0;
	margin: 0;

	&:focus::placeholder {
		opacity: 0;
	}
}

[hidden] {
	display: none !important;
}

/* Swiper pagination */
.swiper-pagination-bullets {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 27px;
}

.swiper-pagination-bullet {
	position: relative;
	width: 15px;
	height: 15px;
	background-color: $white;
	border: 3px solid $green-18;
	border-radius: 50%;
	opacity: 1;
	box-sizing: border-box;
	transition: 0.3s ease;

	&:only-child {
		visibility: hidden;
	}
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	cursor: pointer;

	&:hover {
		background-color: rgba($white, 0.6);
	}
}

.swiper-pagination-bullet-active {
	background-color: transparent;
	border-color: $red;
	cursor: default;
}

.swiper-pagination-fill .swiper-pagination-bullet {
	border-color: $white;
}

/* Swiper navigation */
.swiper-button-prev,
.swiper-button-next {
	position: relative;
    top: 0;
    width: 80px;
	height: 100%;
    margin-top: 0;
	pointer-events: auto;
	transition: 0.3s ease;

	@include max(d) {
		width: 50px;
		height: 50px;
	}

	&:hover svg {
		color: $green-light;
	}

	svg {
		width: 80px;
		height: 80px;
		color: $white;
		transition: 0.3s ease;

		@include max(d) {
			width: 50px;
			height: 50px;
		}
	}
}

.swiper-button-prev {
	left: -80px;

	@include max(d) {
		left: 0;
	}
}

.swiper-button-next {
	right: -80px;

	@include max(d) {
		right: 0;
	}
}

/* Tooltip */
.tooltip {
	position: fixed;
	background-color: $gray-df;
	border-radius: 12px;
	padding: 20px 40px;
	width: 500px;
	z-index: 600;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.24);
	color: $black;
	font-size: 14px;
	line-height: 1.2;
}
