/* Адаптив */
@function _get-media-width($width, $maxmin) {
	@if map-get($media-list, $width) {
		$width: map-get($media-list, $width);

		@if $maxmin {
			@return $width;
		} @else {
			@return $width + 1;
		}
	} @else {
		@return $width;
	}
}

@mixin max($width) {
	$width: _get-media-width($width, true);
	@media only screen and (max-width: $width + 'px') {
		@content;
	}
}

@mixin min($width) {
	$width: _get-media-width($width, false);
	@media only screen and (min-width: $width + 'px') {
		@content;
	}
}

@mixin waves-pattern($colorCode) {
	width: 100vw;
	height: 127px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1815' height='127' viewBox='0 0 1815 127' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1813.13 34.8463L1756.5 3L1699.87 34.8463L1643.24 3L1586.61 34.8463L1529.98 3L1473.35 34.8463L1416.72 3L1360.1 34.8463L1303.47 3L1246.84 34.8463L1190.21 3L1133.58 34.8463L1076.95 3L1020.32 34.8463L963.694 3L907.065 34.8463L850.436 3L793.806 34.8463L737.177 3L680.548 34.8463L623.918 3L567.289 34.8463L510.66 3L454.03 34.8463L397.405 3L340.776 34.8463L284.147 3L227.517 34.8463L170.888 3L114.259 34.8463L57.6293 3L1 34.8463' stroke='%23" + $colorCode + "' fill='transparent' stroke-width='4' stroke-miterlimit='10'/%3e%3cpath d='M1813.13 63.4835L1756.5 31.6372L1699.87 63.4835L1643.24 31.6372L1586.61 63.4835L1529.98 31.6372L1473.35 63.4835L1416.72 31.6372L1360.1 63.4835L1303.47 31.6372L1246.84 63.4835L1190.21 31.6372L1133.58 63.4835L1076.95 31.6372L1020.32 63.4835L963.694 31.6372L907.065 63.4835L850.436 31.6372L793.806 63.4835L737.177 31.6372L680.548 63.4835L623.918 31.6372L567.289 63.4835L510.66 31.6372L454.03 63.4835L397.405 31.6372L340.776 63.4835L284.147 31.6372L227.517 63.4835L170.888 31.6372L114.259 63.4835L57.6293 31.6372L1 63.4835' stroke='%23" + $colorCode + "' fill='transparent' stroke-width='4' stroke-miterlimit='10'/%3e%3cpath d='M1813.13 95.33L1756.5 63.4836L1699.87 95.33L1643.24 63.4836L1586.61 95.33L1529.98 63.4836L1473.35 95.33L1416.72 63.4836L1360.1 95.33L1303.47 63.4836L1246.84 95.33L1190.21 63.4836L1133.58 95.33L1076.95 63.4836L1020.32 95.33L963.694 63.4836L907.065 95.33L850.436 63.4836L793.806 95.33L737.177 63.4836L680.548 95.33L623.918 63.4836L567.289 95.33L510.66 63.4836L454.03 95.33L397.405 63.4836L340.776 95.33L284.147 63.4836L227.517 95.33L170.888 63.4836L114.259 95.33L57.6293 63.4836L1 95.33' stroke='%23" + $colorCode + "' fill='transparent' stroke-width='4' stroke-miterlimit='10'/%3e%3cpath d='M1813.13 123.967L1756.5 92.1211L1699.87 123.967L1643.24 92.1211L1586.61 123.967L1529.98 92.1211L1473.35 123.967L1416.72 92.1211L1360.1 123.967L1303.47 92.1211L1246.84 123.967L1190.21 92.1211L1133.58 123.967L1076.95 92.1211L1020.32 123.967L963.694 92.1211L907.065 123.967L850.436 92.1211L793.806 123.967L737.177 92.1211L680.548 123.967L623.918 92.1211L567.289 123.967L510.66 92.1211L454.03 123.967L397.405 92.1211L340.776 123.967L284.147 92.1211L227.517 123.967L170.888 92.1211L114.259 123.967L57.6293 92.1211L1 123.967' stroke='%23" + $colorCode + "' fill='transparent' stroke-width='4' stroke-miterlimit='10'/%3e%3c/svg%3e ");
	background-repeat: repeat-x;
}

@mixin blob() {
	position: absolute;
	z-index: -1;
	display: block;
	background: radial-gradient(50% 50% at 50% 50%, rgba(0, 152, 133, 0.74) 0%, rgba(24, 155, 128, 0) 100%);
	filter: blur(44px);
	pointer-events: none;
}
