/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'Open Sans', sans-serif;
$latoFont: 'Lato', sans-serif;
$thirdFont: 'Tektur', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
