/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'Open Sans', sans-serif;
$latoFont: 'Lato', sans-serif;
$tekturFont: 'Tektur', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$green-bg: #002e38;
$green-bg-light: #014c5c;
$green-18: #189b80;
$green-light: #00ffb0;
$green-0c: #0c4552;
$red: #ed344a;
$gray-a0: #a0a0a0;
$gray-57: #575a64;
$gray-8f: #8f8f8f;
$gray-df: #dfdfe3;
$gray-b3: #b3b3b6;
